<template>
  <h1>Modal Example</h1>
  <button onclick="document.querySelector('ui-modal').dispatchEvent(new CustomEvent('openDialog', {detail: {
    display: {
      header: {
        title: 'test',
        closeButton: true
      },
      body:'Hello World!',
      footer: {
        options: [
          {
            type: 'confirm',
            label: 'ok',
            styleClass: 'primary'
          }, {
            type: 'reject',
            label: 'cancel',
            styleClass: 'default'
          }
        ]
      }
    }
  }}))">
    Request pointer lock
  </button>
  <ui-modal></ui-modal>
</template>
